/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Establece la fuente del texto a Arial, con sans-serif como alternativa */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el padding predeterminado del cuerpo */
}

/* Estilos generales para el contenedor principal */
.container {
    width: 100%; /* Hace que el contenedor ocupe el 100% del ancho disponible */
    padding: 15px; /* Añade un padding de 15px alrededor del contenido */
}

/* Estilos para la sección de contacto */
#contacto {
    padding: 50px; /* Añade un padding de 50px alrededor del contenido */
    display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
}

/* Estilos para el contenedor del mapa */
.mapa {
    text-align: center; /* Centra el texto dentro del contenedor */
    padding-left: 20%; /* Añade un padding izquierdo del 20% */
    padding-right: 80px; /* Añade un padding derecho de 80px */
}

/* Estilos para el formulario de contacto */
.contact-form {
    width: 70%; /* Hace que el formulario ocupe el 70% del ancho del contenedor padre */
    margin-right: 20px; /* Añade un margen derecho de 20px para dejar espacio entre el mapa y el formulario */
}

/* Estilos para los elementos de formulario dentro del contenedor del formulario de contacto */
.contact-form form {
    display: flex; /* Utiliza el modelo de caja flexible para organizar los elementos hijos */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
}

/* Estilos para las etiquetas de formulario */
.contact-form label {
    margin-bottom: 10px; /* Añade un margen inferior de 10px */
}

/* Estilos para los campos de entrada y el área de texto del formulario */
.contact-form input,
.contact-form textarea {
    padding: 10px; /* Añade un padding de 10px */
    margin-bottom: 20px; /* Añade un margen inferior de 20px */
    border: 1px solid #ccc; /* Establece un borde gris claro de 1px */
    border-radius: 5px; /* Redondea las esquinas del borde con un radio de 5px */
}

/* Estilos para el botón de envío del formulario */
.contact-form button {
    padding: 10px 20px; /* Añade un padding de 10px en vertical y 20px en horizontal */
    background-color: #333; /* Establece el color de fondo a un tono oscuro de gris */
    color: #fff; /* Establece el color del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Redondea las esquinas del borde con un radio de 5px */
    cursor: pointer; /* Cambia el cursor cuando se pasa por encima */
}
