/* Estilos generales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif; /* Establece la fuente del texto a Arial, con sans-serif como alternativa */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el padding predeterminado del cuerpo */
}

/* Estilos generales para el contenedor principal */
.container {
    width: 100%; /* Hace que el contenedor ocupe el 100% del ancho disponible */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 15px; /* Añade un padding de 15px alrededor del contenido */
}

/* Estilos para la sección de ofertas */
#ofertas {
    padding: 50px 0; /* Añade un padding de 50px arriba y abajo */
}

/* Estilos para los encabezados de nivel 2 dentro de la sección de ofertas */
#ofertas h2 {
    text-align: center; /* Centra el texto */
    margin-bottom: 30px; /* Añade un margen inferior de 30px */
}

/* Estilos para el contenedor de productos */
.products {
    display: grid; /* Utiliza un diseño de cuadrícula */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Crea columnas flexibles que se ajustan automáticamente */
    gap: 20px; /* Añade un espacio de 20px entre los elementos de la cuadrícula */
}

/* Estilos para los elementos individuales del producto */
.product {
    text-align: center; /* Centra el texto dentro del producto */
    border: 1px solid #ddd; /* Establece un borde gris claro de 1px */
    padding: 20px; /* Añade un padding de 20px alrededor del contenido */
}

/* Estilos para las imágenes dentro de los elementos del producto */
.product img {
    width: 20%; /* Hace que la imagen ocupe el 20% del ancho del contenedor del producto */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 15px; /* Añade un margen inferior de 15px */
}

/* Estilos para los encabezados y párrafos dentro de los elementos del producto */
.product h3,
.product h4,
.product p {
    margin: 0; /* Elimina el margen predeterminado */
}

/* Estilos para el precio dentro de los elementos del producto */
.product .precio {
    font-weight: bold; /* Establece el peso de la fuente a negrita */
    color: #FF5733; /* Establece el color del texto a un tono de naranja */
    margin-bottom: 15px; /* Añade un margen inferior de 15px */
}
