/* Estilos generales para el contenedor principal */
.container {
    width: 100%; /* Hace que el contenedor ocupe el 100% del ancho disponible */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilos para el pie de página */
.footer {
    background-color: #18181B; /* Establece el color de fondo a un tono oscuro */
    color: #fff; /* Establece el color del texto a blanco */
    padding: 20px; /* Añade un padding de 20px alrededor del contenido */
    text-align: center; /* Centra el texto dentro del pie de página */
}

/* Estilos para el contenedor dentro del pie de página */
.footer .container {
    display: flex; /* Usa el modelo de caja flexible para organizar los elementos hijos */
    justify-content: space-between; /* Distribuye los elementos hijos con espacio entre ellos */
}

/* Estilos para los encabezados de nivel 3 */
.footer h3 {
    color: #fff; /* Establece el color del texto a blanco */
    margin-bottom: 20px; /* Añade un margen inferior de 20px */
}

/* Estilos para las secciones de información de contacto, iconos sociales y newsletter */
.footer-contact-info,
.footer-social-icons,
.footer-newsletter {
    flex: 1; /* Hace que cada sección ocupe el mismo espacio flexible */
    margin-right: 20px; /* Añade un margen derecho de 20px */
}

/* Estilos para los párrafos de información de contacto y los enlaces de iconos sociales */
.footer-contact-info p,
.footer-social-icons a {
    color: #fff; /* Establece el color del texto y los enlaces a blanco */
    text-decoration: none; /* Elimina la decoración de los enlaces */
}

/* Formulario de newsletter */
.footer-newsletter form {
    display: inline; /* Hace que el formulario se comporte como un elemento en línea */
    margin-top: 20px; /* Añade un margen superior de 20px */
}


.footer-newsletter input {
    flex: 2; /* Hace que el campo de entrada ocupe el doble de espacio flexible que el botón */
    padding: 20px; /* Añade un padding de 20px alrededor del contenido */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px 0 0 5px; /* Redondea las esquinas izquierda del borde */
}

/* Estilos para el botón del formulario de newsletter */
.footer-newsletter button {
    flex: 1; /* Hace que el botón ocupe el mismo espacio flexible que el campo de entrada */
    background-color: #fff; /* Establece el color de fondo a blanco */
    color: #333; /* Establece el color del texto a un tono oscuro */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 0 5px 5px 0; /* Redondea las esquinas derecha del borde */
    cursor: pointer; /* Cambia el cursor a una mano apuntando cuando se pasa por encima */
    padding: 20px; /* Añade un padding de 20px alrededor del contenido */
}

/* Estilos para la sección de derechos de autor */
.copyright {
    margin: 0; /* Elimina el margen predeterminado */
    text-align: center; /* Centra el texto dentro de la sección */
}

/* Estilos para las imágenes de los iconos sociales */
.footer-social-icons img {
    width: 40px; /* Establece el ancho de las imágenes a 40px */
    height: 40px; /* Establece la altura de las imágenes a 40px */
    margin-right: 10px; /* Añade un margen derecho de 10px */
    border-radius: 50%; /* Hace que las imágenes tengan forma circular */
    border: 1px solid #fff; /* Establece un borde blanco de 1px */
    padding: 5px; /* Añade un padding de 5px alrededor de las imágenes */
}

/* Estilos para las imágenes de los iconos sociales al pasar el ratón por encima */
.footer-social-icons img:hover {
    background-color: #fff; /* Cambia el color de fondo a blanco */
    transition: background-color 0.3s; /* Añade una transición suave a los cambios de color de fondo */
}

/* Estilos para los enlaces de los iconos sociales */
.footer-social-icons a {
    display: inline-block; /* Hace que los enlaces se comporten como elementos en línea bloque */
}
