.container {
    width: 100%;
    margin: 0 auto;

}

.footer {
    background-color: #18181B;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-contact-info,
.footer-social-icons,
.footer-newsletter {
    flex: 1;
    margin-right: 20px;
}

.footer-contact-info p,
.footer-social-icons a {
    color: #fff;
    text-decoration: none;
}

.footer-newsletter form {
    display: inline;
    margin-top: 20px;
}

.footer-newsletter input {
    flex: 2;
    padding: 20px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.footer-newsletter button {
    flex: 1;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 20px;
}



.copyright{
    margin: 0;
    text-align: center;
    
}

.footer-social-icons img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 5px;
}

.footer-social-icons img:hover {
    background-color: #fff;
    transition: background-color 0.3s;
}

.footer-social-icons a {
    display: inline-block;
}
